name: Flutter tests

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.9'
          channel: 'stable'
      - run: flutter --version
      - name: Install dependencies
        run: dart pub get
      - name: update package
        run: flutter packages upgrade
      - name: Analyze project source
        run: dart analyze
      - name: Run tests
        run: TESTING=1 flutter test test
